.build-harness-bootstrap
build-harness
build-harness-extensions
build/_output
kubeconfig_managed

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions
.vscode/launch.json
*.out
report.json
report_*.json
gosec.json

bin/
