.build-harness-bootstrap
build-harness
build-harness-extensions

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions
.vscode/launch.json
iam-policy_amd64
cover.out
