apiVersion: policies.open-cluster-management.io/v1
kind: Policy
metadata:
  name: policy-parent
  description: Instance descriptor for policy resource
  labels:
    hipaa: "true"
spec:
  remediationAction: "enforce" # enforce or inform
  complianceType: "musthave" # used as default, when missing in a particular sub-template
  namespaces:
    include: ["default"]
    exclude: ["kube*"]
  policy-templates:
    - apiVersion: policies.open-cluster-management.io/v1
      kind: IamPolicy
      metadata:
        name: iam-policy-example
        label:
          category: "System-Integrity"
      spec:
        namespaceSelector:
          include: ["default","kube-*"]
          exclude: ["kube-system"]
        #labelSelector:
          #env: "production"
        remediationAction: enforce # enforce or inform
        maxRoleBindingViolationsPerNamespace: 2
